@font-face {
    font-family: 'proggysquarettregular';
    src: url('proggysquare-webfont.woff2') format('woff2'),
         url('proggysquare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	background-color:#000;
	margin:0;

}
#typing-text {
	margin:0;
	font-family:Proggy;
	color:white;
	display:inline-block;
}
#static-text {
	margin:0;
	font-family:Proggy;
	color:white;
}
#prefix-text {
	margin:0;
	font-family:Proggy;
	color:white;
	display:inline-block;
}
#output-text {
	margin:0;
	font-family:Proggy;
	color:white;
}
#cursor {
	display:inline;
	font-family:Proggy;
	color:white;
	font-weight:bold;
	visibility:visible;
}
