
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
	background-color:#000;
	margin:0;

}
#typing-text {
	margin:0;
	font-family:VT323;
	color:white;
	display:inline-block;
}
#static-text {
	margin:0;
	font-family:VT323;
	color:white;
}
#prefix-text {
	margin:0;
	font-family:VT323;
	color:white;
	display:inline-block;
}
#output-text {
	margin:0;
	font-family:VT323;
	color:white;
}
#cursor {
	display:inline;
	font-family:VT323;
	color:white;
	font-weight:bold;
	visibility:visible;
}
